@namespace Client.Components.UI
@inject IToastService ToastService
@implements IDisposable

<div aria-live="assertive" class="pointer-events-none fixed inset-0 z-50 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end sm:justify-end justify-end h-full w-full">
        @foreach (var toast in ToastService.Toasts)
        {
            <div class="pointer-events-auto w-full max-w-sm overflow-hidden transform transition-all duration-300">
                <AppToast Message="@toast" OnDismiss="() => ToastService.Remove(toast.Id)" />
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        ToastService.OnToastsChanged += HandleToastsChanged;
    }

    private void HandleToastsChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ToastService.OnToastsChanged -= HandleToastsChanged;
    }
}
